body {			/* Change width and height to own preferences */
	width: 500px;
	height: 400px;
	overflow-x: hidden;
	padding:15px;
}

/* Basic style tweaks */
section {padding: 5px;}

#submitButton {float: right;}

img {margin-top: 10px; float: right;}

/*textarea {width:400px; height:100px; margin-left:35px; margin-right:35px;}*/

/*.score {text-align: center;}*/

#newReview, #noReview, #createStore, #switchAccount {display: none;}